{%extends 'base.html'%}
{%block content%} 

<div >
    <h1> Geo Dome </h1>
    <form method="POST"  >
    {% csrf_token %}
        <select name="geoDome_list">

            {% for i in geoDome_list %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endfor %}
            
            {% if geoDome_list.count < 1%}
                <option>none</option>
            {% endif %}   

        </select>
        {%if geoDome_list.count > 0%}
            <input type="submit" name="action" value="ViewDetails"  />
        {%endif%}
    </form>
 
</div>



<div id = dome_display> </div>

    {% load static %}
    <script src='{% static "/js/svg.js" %}'></script>
    <script src='{% static "/js/transform.js" %}'></script>
    <script src='{% static "/js/rotation.js" %}'></script>
<!-- -------------------- JS --------------------------- -->
    <script>

        var dome_vertices = [];
        var proj_vertices = [];

        var svg = create_svgs();
        var dome_svg = svg[0];
        var proj_svg = svg[1];
                
        rotation(dome_svg, proj_svg);


        function getTriangles(ords, triangle) {
            vector1 = math.matrix(ords[triangle[1]]) - math.matrix(ords[triangle[0]]);
            vector2 = math.matrix(ords[triangle[2]]) - math.matrix(ords[triangle[0]]);
            result = np.cross(vector1, vector2);
            if (result[2] > 0) {
                draw = True
            }
            return
        }






    </script>

    

    {% for i in Ord_list %}
    
    <script> 
        var x = parseFloat("{{i.x}}" * 100);
        var y = parseFloat("{{i.y}}" * 100);
        var z = parseFloat("{{i.z}}" * 100);
        var colour = parseFloat("{{i.colour}}");
        proj(x, y, z, colour, dome_svg);     
        dome_vertices.push([x, y]); 
    </script>

    {% endfor %}



    {% for i in Proj_list %}
    <script>
        var x = parseFloat("{{i.x}}" * 100);
        var y = parseFloat("{{i.y}}" * 100);
        var colour = parseFloat("{{i.colour}}");
        proj(x, y, z, colour,  proj_svg); 
        proj_vertices.push([x, y]);
    
       
    </script>
    {% endfor %}

    <script>  var count = 0; </script>

    {% for tri in Tri_List %}
    <script>
        let p1 = "{{tri.point1}}";
        let p2 = "{{tri.point2}}";
        let p3 = "{{tri.point3}}";
        count ++;
    </script>
    {% endfor %}

    

{% endblock %}

